body{
background:#0f172a;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
}

.box{
background:#1e293b;
padding:30px;
border-radius:12px;
width:300px;
text-align:center;
box-shadow:0 0 20px #000;
}

input{
width:100%;
padding:10px;
border:none;
borde
